# Global
.DS_Store
.env
.env.*
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
build/
out/

# IDE
.vscode/

# Ignorar node_modules de subproyectos también por si acaso:
backend/node_modules/
frontend_admin/node_modules/
frontend_public/node_modules/

# Ignorar envs por carpeta
backend/.env*
frontend_admin/.env*
frontend_public/.env*
# Python
venv/
**/__pycache__/
*.pyc

# Playwright (binarios y caches)
**/playwright/driver/
**/playwright/.cache/
**/playwright-report/
**/test-results/
